spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  
  liquibase:
    enabled: false

  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  secret: test-secret-key-for-testing-purposes-must-be-at-least-256-bits-long-so-adding-more-text
  expiration: 86400000

server:
  port: 8080

logging:
  level:
    com.orderflow: DEBUG
