spring:
  datasource:
    url: jdbc:h2:file:./data/orderflowdb;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret: orderflow-super-secret-key-for-jwt-minimum-256-bits-long-string-here
  expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
  health:
    redis:
      enabled: false

logging:
  level:
    com.orderflow: DEBUG
    org.hibernate.SQL: DEBUG
